In [78]:
# Input File Location:D: Venkat: Excel file: Common Stock NYSE 21012023.csv    1243 stocks

In [79]:
# Importing Libraries
import numpy as np
import pandas as pd
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt

In [80]:
# Reading the file with 1232 stocks and its corresponding correlation values
df= pd.read_csv("Common Stock NYSE 21012023.csv")

In [81]:
df

     Symbol
0     ^GSPC
1      ^NDX
2      ^DJI
3      ^RUT
4      ^VIX
...     ...
1238   YELP
1239    YPF
1240    ZNH
1241    ZTR
1242    ZTS

[1243 rows x 1 columns]

In [82]:
# Converting dataframe to List
Stock_list =df["Symbol"].values.tolist()

In [83]:
# Calculation to grab all the closing prices for the  stock list into one DataFrame
closing_df = yf.download(Stock_list, period = "1mo", interval ="1d")['Adj Close']

[*********************100%***********************]  1243 of 1243 completed

2 Failed downloads:
- SYT: No data found for this date range, symbol may be delisted
- MON: No data found for this date range, symbol may be delisted

In [84]:
closing_df.tail()

,A,AA,AAC,AAN,AAT,ABB,ABBV,ABC,ABG,ABM,...,ZB=F,ZN=F,ZNH,ZTR,ZTS,^DJI,^GSPC,^NDX,^RUT,^VIX
Date,,,,,,,,,,,,,,,,,,,,,
2023-02-13 00:00:00,154.600006,47.950001,10.20,14.81,26.490000,34.060001,153.729996,158.610001,232.240005,48.590000,...,127.37500,112.781250,33.689999,6.78,163.139999,34245.929688,4137.290039,12502.309570,1941.140015,20.34
2023-02-14 00:00:00,153.039993,48.930000,10.22,14.84,26.400000,33.810001,152.589996,157.360001,233.190002,48.730000,...,126.96875,112.328125,33.889999,6.78,171.899994,34089.269531,4136.129883,12590.889648,1939.910034,18.91
2023-02-15 00:00:00,151.750000,48.410000,10.20,15.07,26.540001,34.419998,151.059998,158.809998,234.119995,48.799999,...,126.21875,112.046875,33.840000,6.76,175.020004,34128.050781,4147.600098,12687.889648,1960.969971,18.23
2023-02-16 00:00:00,148.279999,48.770000,10.22,14.87,26.360001,34.009998,149.529999,160.470001,233.509995,48.830002,...,125.28125,111.750000,NaN,6.74,173.929993,33696.851562,4090.409912,12442.480469,1942.212158,20.17
2023-01-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,129.40625,114.640625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
# Finding Correlation values of imported closing values of stocks
df= closing_df.corr().round(2)
df

,A,AA,AAC,AAN,AAT,ABB,ABBV,ABC,ABG,ABM,...,ZB=F,ZN=F,ZNH,ZTR,ZTS,^DJI,^GSPC,^NDX,^RUT,^VIX
A,1.00,0.54,-0.56,-0.22,0.27,0.22,-0.13,0.16,-0.43,-0.50,...,0.59,0.60,0.48,0.26,-0.19,0.01,-0.15,-0.25,-0.17,-0.30
AA,0.54,1.00,-0.53,-0.10,0.76,0.44,-0.49,0.25,-0.26,-0.38,...,0.72,0.71,0.16,0.58,-0.15,0.05,-0.11,-0.21,0.04,-0.49
AAC,-0.56,-0.53,1.00,0.72,-0.19,-0.14,0.04,-0.59,0.89,0.90,...,-0.77,-0.82,-0.73,0.22,0.39,0.59,0.80,0.85,0.72,-0.12
AAN,-0.22,-0.10,0.72,1.00,0.32,-0.04,-0.29,-0.67,0.92,0.80,...,-0.40,-0.46,-0.76,0.68,0.45,0.62,0.90,0.92,0.94,-0.34
AAT,0.27,0.76,-0.19,0.32,1.00,0.42,-0.65,0.09,0.17,-0.03,...,0.62,0.57,-0.22,0.77,0.07,0.20,0.20,0.13,0.40,-0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
^DJI,0.01,0.05,0.59,0.62,0.20,0.39,-0.02,-0.24,0.69,0.69,...,-0.39,-0.44,-0.50,0.61,0.37,1.00,0.87,0.78,0.79,-0.58
^GSPC,-0.15,-0.11,0.80,0.90,0.20,0.13,-0.18,-0.58,0.92,0.85,...,-0.50,-0.56,-0.71,0.65,0.51,0.87,1.00,0.98,0.96,-0.49
^NDX,-0.25,-0.21,0.85,0.92,0.13,0.03,-0.19,-0.65,0.95,0.87,...,-0.56,-0.63,-0.74,0.57,0.53,0.78,0.98,1.00,0.94,-0.41
^RUT,-0.17,0.04,0.72,0.94,0.40,0.17,-0.30,-0.57,0.91,0.83,...,-0.36,-0.43,-0.70,0.77,0.53,0.79,0.96,0.94,1.00,-0.55
^VIX,-0.30,-0.49,-0.12,-0.34,-0.53,-0.66,0.37,0.01,-0.28,-0.25,...,-0.18,-0.14,0.05,-0.63,-0.58,-0.58,-0.49,-0.41,-0.55,1.00

In [86]:
#Now we drop a rows whose all data is missing or contain null values(NaN)
# using dropna() function    
df.dropna(how = 'all', axis=1, inplace =True)
df

,A,AA,AAC,AAN,AAT,ABB,ABBV,ABC,ABG,ABM,...,ZB=F,ZN=F,ZNH,ZTR,ZTS,^DJI,^GSPC,^NDX,^RUT,^VIX
A,1.00,0.54,-0.56,-0.22,0.27,0.22,-0.13,0.16,-0.43,-0.50,...,0.59,0.60,0.48,0.26,-0.19,0.01,-0.15,-0.25,-0.17,-0.30
AA,0.54,1.00,-0.53,-0.10,0.76,0.44,-0.49,0.25,-0.26,-0.38,...,0.72,0.71,0.16,0.58,-0.15,0.05,-0.11,-0.21,0.04,-0.49
AAC,-0.56,-0.53,1.00,0.72,-0.19,-0.14,0.04,-0.59,0.89,0.90,...,-0.77,-0.82,-0.73,0.22,0.39,0.59,0.80,0.85,0.72,-0.12
AAN,-0.22,-0.10,0.72,1.00,0.32,-0.04,-0.29,-0.67,0.92,0.80,...,-0.40,-0.46,-0.76,0.68,0.45,0.62,0.90,0.92,0.94,-0.34
AAT,0.27,0.76,-0.19,0.32,1.00,0.42,-0.65,0.09,0.17,-0.03,...,0.62,0.57,-0.22,0.77,0.07,0.20,0.20,0.13,0.40,-0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
^DJI,0.01,0.05,0.59,0.62,0.20,0.39,-0.02,-0.24,0.69,0.69,...,-0.39,-0.44,-0.50,0.61,0.37,1.00,0.87,0.78,0.79,-0.58
^GSPC,-0.15,-0.11,0.80,0.90,0.20,0.13,-0.18,-0.58,0.92,0.85,...,-0.50,-0.56,-0.71,0.65,0.51,0.87,1.00,0.98,0.96,-0.49
^NDX,-0.25,-0.21,0.85,0.92,0.13,0.03,-0.19,-0.65,0.95,0.87,...,-0.56,-0.63,-0.74,0.57,0.53,0.78,0.98,1.00,0.94,-0.41
^RUT,-0.17,0.04,0.72,0.94,0.40,0.17,-0.30,-0.57,0.91,0.83,...,-0.36,-0.43,-0.70,0.77,0.53,0.79,0.96,0.94,1.00,-0.55
^VIX,-0.30,-0.49,-0.12,-0.34,-0.53,-0.66,0.37,0.01,-0.28,-0.25,...,-0.18,-0.14,0.05,-0.63,-0.58,-0.58,-0.49,-0.41,-0.55,1.00

In [87]:
matrix=df
matrix= matrix.unstack()
k=matrix[matrix == 0.00]
k.to_csv("NYSE_Cor_1243_17022023.csv")

In [88]:
df2= pd.read_csv("NYSE_Cor_1243_17022023.csv")
df2

     Unnamed: 0 Unnamed: 1    0
0             A       CIVI -0.0
1             A        CRL -0.0
2             A        DIS -0.0
3             A        MFD -0.0
4             A        MHF  0.0
...         ...        ...  ...
9383       ^VIX        HUM  0.0
9384       ^VIX        PRE  0.0
9385       ^VIX         SM -0.0
9386       ^VIX        TEI -0.0
9387       ^VIX       TNET  0.0

[9388 rows x 3 columns]

In [89]:
# Counting Duplictaes
dups_count = df2.pivot_table(columns=['Unnamed: 0'], aggfunc='size')
print (dups_count)

Unnamed: 0
A        12
AA        9
AAC       5
AAN       6
AAT       7
         ..
^DJI      5
^GSPC     8
^NDX      2
^RUT      2
^VIX      8
Length: 1227, dtype: int64

In [90]:
# Printing duplicates along with count
dups_count

Unnamed: 0
A        12
AA        9
AAC       5
AAN       6
AAT       7
         ..
^DJI      5
^GSPC     8
^NDX      2
^RUT      2
^VIX      8
Length: 1227, dtype: int64

In [91]:
# Sorting from high to low, descending order
h= dups_count.sort_values(ascending=False) 
h

Unnamed: 0
EGF    41
LC     39
FMX    38
DGX    32
RCI    30
       ..
PHM     1
LGI     1
VC      1
ASX     1
THC     1
Length: 1227, dtype: int64

In [92]:
# Printing first 15 stocks
h.head(15)

Unnamed: 0
EGF     41
LC      39
FMX     38
DGX     32
RCI     30
XRX     29
BTU     27
NIM     26
ADPT    25
CP      24
WM      24
UNH     24
NDP     24
HUM     24
UNP     23
dtype: int64

In [93]:
# Highly incorrelated stocks having maximum zero correlation
column_names = h.keys().values.tolist()
print(column_names[0:15])

['EGF', 'LC', 'FMX', 'DGX', 'RCI', 'XRX', 'BTU', 'NIM', 'ADPT', 'CP', 'WM', 'UNH', 'NDP', 'HUM', 'UNP']

In [94]:
#################################End#####################################