In [18]:
# Input File Location:D: Venkat: Excel file: Common Stock NYSE 21012023.csv    1243 stocks

In [19]:
# Importing Libraries
import numpy as np
import pandas as pd
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
# Reading the file with 1232 stocks and its corresponding correlation values
df= pd.read_csv("Common Stock NYSE 21012023.csv")

In [21]:
df

     Symbol
0     ^GSPC
1      ^NDX
2      ^DJI
3      ^RUT
4      ^VIX
...     ...
1238   YELP
1239    YPF
1240    ZNH
1241    ZTR
1242    ZTS

[1243 rows x 1 columns]

In [22]:
# Converting dataframe to List
Stock_list =df["Symbol"].values.tolist()

In [23]:
# Calculation to grab all the closing prices for the  stock list into one DataFrame
closing_df = yf.download(Stock_list, period = "1mo", interval ="1d")['Adj Close']

[*********************100%***********************]  1243 of 1243 completed

2 Failed downloads:
- SYT: No data found for this date range, symbol may be delisted
- MON: No data found for this date range, symbol may be delisted

In [24]:
closing_df.tail()

,A,AA,AAC,AAN,AAT,ABB,ABBV,ABC,ABG,ABM,...,ZB=F,ZN=F,ZNH,ZTR,ZTS,^DJI,^GSPC,^NDX,^RUT,^VIX
Date,,,,,,,,,,,,,,,,,,,,,
2023-02-13 00:00:00,154.600006,47.950001,10.20,14.81,26.490000,34.060001,153.729996,158.610001,232.240005,48.590000,...,127.37500,112.781250,33.689999,6.78,163.139999,34245.929688,4137.290039,12502.309570,1941.140015,20.340000
2023-02-14 00:00:00,153.039993,48.930000,10.22,14.84,26.400000,33.810001,152.589996,157.360001,233.190002,48.730000,...,126.96875,112.328125,33.889999,6.78,171.899994,34089.269531,4136.129883,12590.889648,1939.910034,18.910000
2023-02-15 00:00:00,151.750000,48.410000,10.20,15.07,26.540001,34.419998,151.059998,158.809998,234.119995,48.799999,...,126.21875,112.046875,33.840000,6.76,175.020004,34128.050781,4147.600098,12687.889648,1960.969971,18.230000
2023-02-16 00:00:00,149.190002,49.570000,10.21,14.95,26.370001,34.145000,150.020004,160.414993,232.994995,48.889999,...,125.53125,111.875000,NaN,6.76,174.789993,33918.761719,4119.709961,12570.458984,1961.204346,18.540001
2023-01-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,129.40625,114.640625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df= closing_df.corr().round(2)
df

,A,AA,AAC,AAN,AAT,ABB,ABBV,ABC,ABG,ABM,...,ZB=F,ZN=F,ZNH,ZTR,ZTS,^DJI,^GSPC,^NDX,^RUT,^VIX
A,1.00,0.51,-0.54,-0.23,0.25,0.19,-0.15,0.16,-0.43,-0.50,...,0.56,0.59,0.48,0.22,-0.18,-0.08,-0.20,-0.28,-0.21,-0.09
AA,0.51,1.00,-0.51,-0.10,0.76,0.44,-0.49,0.26,-0.25,-0.36,...,0.70,0.69,0.16,0.56,-0.13,0.01,-0.13,-0.21,0.03,-0.39
AAC,-0.54,-0.51,1.00,0.73,-0.17,-0.12,0.05,-0.60,0.90,0.90,...,-0.76,-0.82,-0.73,0.25,0.38,0.66,0.83,0.87,0.74,-0.24
AAN,-0.23,-0.10,0.73,1.00,0.31,-0.03,-0.28,-0.67,0.93,0.80,...,-0.41,-0.47,-0.76,0.69,0.46,0.64,0.90,0.92,0.94,-0.39
AAT,0.25,0.76,-0.17,0.31,1.00,0.41,-0.66,0.09,0.17,-0.03,...,0.62,0.57,-0.22,0.75,0.06,0.16,0.18,0.11,0.37,-0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
^DJI,-0.08,0.01,0.66,0.64,0.16,0.38,0.00,-0.24,0.72,0.74,...,-0.47,-0.51,-0.50,0.60,0.43,1.00,0.88,0.80,0.80,-0.57
^GSPC,-0.20,-0.13,0.83,0.90,0.18,0.14,-0.16,-0.57,0.92,0.87,...,-0.53,-0.60,-0.71,0.65,0.53,0.88,1.00,0.99,0.96,-0.53
^NDX,-0.28,-0.21,0.87,0.92,0.11,0.04,-0.18,-0.65,0.95,0.88,...,-0.58,-0.65,-0.74,0.58,0.54,0.80,0.99,1.00,0.95,-0.48
^RUT,-0.21,0.03,0.74,0.94,0.37,0.18,-0.28,-0.56,0.91,0.85,...,-0.40,-0.46,-0.70,0.77,0.56,0.80,0.96,0.95,1.00,-0.60
^VIX,-0.09,-0.39,-0.24,-0.39,-0.42,-0.65,0.32,0.02,-0.35,-0.38,...,0.00,0.03,0.05,-0.58,-0.74,-0.57,-0.53,-0.48,-0.60,1.00

In [26]:
#Now we drop a rows whose all data is missing or contain null values(NaN)
# using dropna() function    
df.dropna(how = 'all', axis=1, inplace =True)
df

,A,AA,AAC,AAN,AAT,ABB,ABBV,ABC,ABG,ABM,...,ZB=F,ZN=F,ZNH,ZTR,ZTS,^DJI,^GSPC,^NDX,^RUT,^VIX
A,1.00,0.51,-0.54,-0.23,0.25,0.19,-0.15,0.16,-0.43,-0.50,...,0.56,0.59,0.48,0.22,-0.18,-0.08,-0.20,-0.28,-0.21,-0.09
AA,0.51,1.00,-0.51,-0.10,0.76,0.44,-0.49,0.26,-0.25,-0.36,...,0.70,0.69,0.16,0.56,-0.13,0.01,-0.13,-0.21,0.03,-0.39
AAC,-0.54,-0.51,1.00,0.73,-0.17,-0.12,0.05,-0.60,0.90,0.90,...,-0.76,-0.82,-0.73,0.25,0.38,0.66,0.83,0.87,0.74,-0.24
AAN,-0.23,-0.10,0.73,1.00,0.31,-0.03,-0.28,-0.67,0.93,0.80,...,-0.41,-0.47,-0.76,0.69,0.46,0.64,0.90,0.92,0.94,-0.39
AAT,0.25,0.76,-0.17,0.31,1.00,0.41,-0.66,0.09,0.17,-0.03,...,0.62,0.57,-0.22,0.75,0.06,0.16,0.18,0.11,0.37,-0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
^DJI,-0.08,0.01,0.66,0.64,0.16,0.38,0.00,-0.24,0.72,0.74,...,-0.47,-0.51,-0.50,0.60,0.43,1.00,0.88,0.80,0.80,-0.57
^GSPC,-0.20,-0.13,0.83,0.90,0.18,0.14,-0.16,-0.57,0.92,0.87,...,-0.53,-0.60,-0.71,0.65,0.53,0.88,1.00,0.99,0.96,-0.53
^NDX,-0.28,-0.21,0.87,0.92,0.11,0.04,-0.18,-0.65,0.95,0.88,...,-0.58,-0.65,-0.74,0.58,0.54,0.80,0.99,1.00,0.95,-0.48
^RUT,-0.21,0.03,0.74,0.94,0.37,0.18,-0.28,-0.56,0.91,0.85,...,-0.40,-0.46,-0.70,0.77,0.56,0.80,0.96,0.95,1.00,-0.60
^VIX,-0.09,-0.39,-0.24,-0.39,-0.42,-0.65,0.32,0.02,-0.35,-0.38,...,0.00,0.03,0.05,-0.58,-0.74,-0.57,-0.53,-0.48,-0.60,1.00

In [30]:
matrix=df
matrix= matrix.unstack()
k=matrix[matrix == 0.00]
#k.to_csv("NYSE_Cor_1243_17022023.csv")

In [31]:
#df2= pd.read_csv("NYSE_Cor_1243_17022023.csv")
df2=k
df2

     Unnamed: 0 Unnamed: 1    0
0             A        JHI  0.0
1             A        STZ -0.0
2             A        UHS -0.0
3            AA        AGX -0.0
4            AA       BOOT -0.0
...         ...        ...  ...
9289       ^VIX        PHX  0.0
9290       ^VIX        ROP -0.0
9291       ^VIX        UNH  0.0
9292       ^VIX        VPG -0.0
9293       ^VIX       ZB=F  0.0

[9294 rows x 3 columns]

In [33]:
# Counting Duplictaes
dups_count = df2.pivot_table(columns=['Unnamed: 0'], aggfunc='size')
print (dups_count)

Unnamed: 0
A         3
AA       12
AAC       5
AAN       6
AAT      13
         ..
^DJI      5
^GSPC     8
^NDX      4
^RUT      5
^VIX      9
Length: 1228, dtype: int64

In [42]:
# Printing duplicates along with count
dups_count

Unnamed: 0
A         3
AA       12
AAC       5
AAN       6
AAT      13
         ..
^DJI      5
^GSPC     8
^NDX      4
^RUT      5
^VIX      9
Length: 1228, dtype: int64

In [43]:
# Sorting from high to low, descending order
h= dups_count.sort_values(ascending=False) 
h

Unnamed: 0
LC      44
DGX     44
EGF     41
RCI     38
CP      32
        ..
DLB      1
DKS      1
BXP      1
SYK      1
MSCI     1
Length: 1228, dtype: int64

In [46]:
h.head(15)

Unnamed: 0
LC      44
DGX     44
EGF     41
RCI     38
CP      32
XRX     32
TCI     32
CGA     29
DTE     28
MQT     28
WM      28
NIM     27
SRT     26
PBYI    26
LEO     25
dtype: int64

In [56]:
# Highly incorrelated stocks having maximum zero correlation
column_names = h.keys().values.tolist()
print(column_names[0:15])

['LC', 'DGX', 'EGF', 'RCI', 'CP', 'XRX', 'TCI', 'CGA', 'DTE', 'MQT', 'WM', 'NIM', 'SRT', 'PBYI', 'LEO']

In [ ]:
#################################End#####################################