In [ ]:
# Internship Assignment for Pulling Data and Analysing Nifty 50 companies from NSE Website- Ajay Sir Quant

In [ ]:
# Pulling data for Nifty companies

In [25]:
# Importing libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [10]:
# pulling nifty 50 companies from excel sheet. Excel sheet data dwonload from NSE website. 
data = pd.read_csv("nifty50list.csv") 
# To display first 5 items of the pandas dataframe
data.head()

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,EQ,INE742F01042
1,Asian Paints Ltd.,CONSUMER GOODS,ASIANPAINT,EQ,INE021A01026
2,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,EQ,INE238A01034
3,Bajaj Auto Ltd.,AUTOMOBILE,BAJAJ-AUTO,EQ,INE917I01010
4,Bajaj Finance Ltd.,FINANCIAL SERVICES,BAJFINANCE,EQ,INE296A01024

In [11]:
# To display last 5 items of the pandas dataframe
data.tail()

,Company Name,Industry,Symbol,Series,ISIN Code
45,Tech Mahindra Ltd.,IT,TECHM,EQ,INE669C01036
46,Titan Company Ltd.,CONSUMER GOODS,TITAN,EQ,INE280A01028
47,UPL Ltd.,FERTILISERS & PESTICIDES,UPL,EQ,INE628A01036
48,UltraTech Cement Ltd.,CEMENT & CEMENT PRODUCTS,ULTRACEMCO,EQ,INE481G01011
49,Wipro Ltd.,IT,WIPRO,EQ,INE075A01022

In [12]:
# Dropping all the columns except Symbol
data = data.drop(["Company Name","Industry","Series","ISIN Code"], axis=1)
data

        Symbol
0   ADANIPORTS
1   ASIANPAINT
2     AXISBANK
3   BAJAJ-AUTO
4   BAJFINANCE
5   BAJAJFINSV
6         BPCL
7   BHARTIARTL
8    BRITANNIA
9        CIPLA
10   COALINDIA
11    DIVISLAB
12     DRREDDY
13   EICHERMOT
14      GRASIM
15     HCLTECH
16    HDFCBANK
17    HDFCLIFE
18  HEROMOTOCO
19    HINDALCO
20  HINDUNILVR
21        HDFC
22   ICICIBANK
23         ITC
24         IOC
25  INDUSINDBK
26        INFY
27    JSWSTEEL
28   KOTAKBANK
29          LT
30         M&M
31      MARUTI
32        NTPC
33   NESTLEIND
34        ONGC
35   POWERGRID
36    RELIANCE
37     SBILIFE
38    SHREECEM
39        SBIN
40   SUNPHARMA
41         TCS
42  TATACONSUM
43  TATAMOTORS
44   TATASTEEL
45       TECHM
46       TITAN
47         UPL
48  ULTRACEMCO
49       WIPRO

In [19]:
# Checking type of variable
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [29]:
# Changing data to a different variable
df= data
df

        Symbol
0   ADANIPORTS
1   ASIANPAINT
2     AXISBANK
3   BAJAJ-AUTO
4   BAJFINANCE
5   BAJAJFINSV
6         BPCL
7   BHARTIARTL
8    BRITANNIA
9        CIPLA
10   COALINDIA
11    DIVISLAB
12     DRREDDY
13   EICHERMOT
14      GRASIM
15     HCLTECH
16    HDFCBANK
17    HDFCLIFE
18  HEROMOTOCO
19    HINDALCO
20  HINDUNILVR
21        HDFC
22   ICICIBANK
23         ITC
24         IOC
25  INDUSINDBK
26        INFY
27    JSWSTEEL
28   KOTAKBANK
29          LT
30         M&M
31      MARUTI
32        NTPC
33   NESTLEIND
34        ONGC
35   POWERGRID
36    RELIANCE
37     SBILIFE
38    SHREECEM
39        SBIN
40   SUNPHARMA
41         TCS
42  TATACONSUM
43  TATAMOTORS
44   TATASTEEL
45       TECHM
46       TITAN
47         UPL
48  ULTRACEMCO
49       WIPRO

In [ ]:
# Writing a code for pulling Last traded price, Total buy quantity and Total Sell quantity for the strategy

In [38]:
# Defining a function
#def stockcode():
stockcode ="TATAMOTORS"
print(stockcode)
stock_url  = 'https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol='+str(stockcode)
print(stock_url)
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.117 Safari/537.36'}
response = requests.get(stock_url, headers=headers)
response
soup = BeautifulSoup(response.text, 'html.parser')
data_array = soup.find(id='responseDiv').getText().strip().split(":")
type (data_array)
print(data_array)
# Extracting last traded Price
for item in data_array:
    if 'lastPrice' in item:
        index = data_array.index(item)+1
        print("Index -> "+ str(index))
        latestPrice=data_array[index].split('"')[1]
        print("latest Price = ",latestPrice)
                # Extracting Total buy Quantity
for item in data_array:
    if 'totalBuyQuantity' in item:
        index = data_array.index(item)+1
        print("Index -> "+ str(index))
        totalBuyQuantity=data_array[index].split('"')[1]
        print("totalBuyQuantity = ",totalBuyQuantity)
        # Extracting Total sell Quantity
for item in data_array:
     if 'totalSellQuantity' in item:
        index = data_array.index(item)+1
        print("Index -> "+ str(index))
        totalSellQuantity=data_array[index].split('"')[1]
        print("totalSellQuantity = ",totalSellQuantity)

TATAMOTORS
https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol=TATAMOTORS
['{"tradedDate"', '"21MAY2021","data"', '[{"pricebandupper"', '"338.45","symbol"', '"TATAMOTORS","applicableMargin"', '"26.98","bcEndDate"', '"09-AUG-16","totalSellQuantity"', '"48,690","adhocMargin"', '"-","companyName"', '"Tata Motors Limited","marketType"', '"N","exDate"', '"18-JUL-16","bcStartDate"', '"20-JUL-16","css_status_desc"', '"Listed","dayHigh"', '"315.70","basePrice"', '"307.70","securityVar"', '"23.48","pricebandlower"', '"276.95","sellQuantity5"', '"-","sellQuantity4"', '"-","sellQuantity3"', '"-","cm_adj_high_dt"', '"03-MAR-21","sellQuantity2"', '"-","dayLow"', '"309.50","sellQuantity1"', '"48,690","quantityTraded"', '"4,03,58,753","pChange"', '"1.53","totalTradedValue"', '"1,26,246.22","deliveryToTradedQuantity"', '"14.31","totalBuyQuantity"', '"-","averagePrice"', '"312.81","indexVar"', '"-","cm_ffm"', '"54,013.11","purpose"', '"DIVIDEND - RE 0.20\\/- PER SHARE","buyPrice2"', '"-","secDate"', '"21-May-2021 00', '00', '00","buyPrice1"', '"-","high52"', '"357.00","previousClose"', '"307.70","ndEndDate"', '"-","low52"', '"80.70","buyPrice4"', '"-","buyPrice3"', '"-","recordDate"', '"-","deliveryQuantity"', '"57,73,365","buyPrice5"', '"-","priceBand"', '"No Band","extremeLossMargin"', '"3.50","cm_adj_low_dt"', '"20-MAY-20","varMargin"', '"23.48","sellPrice1"', '"313.10","sellPrice2"', '"-","totalTradedVolume"', '"4,03,58,753","sellPrice3"', '"-","sellPrice4"', '"-","sellPrice5"', '"-","change"', '"4.70","surv_indicator"', '"-","ndStartDate"', '"-","buyQuantity4"', '"-","isExDateFlag"', 'false,"buyQuantity3"', '"-","buyQuantity2"', '"-","buyQuantity1"', '"-","series"', '"EQ","faceValue"', '"2.00","buyQuantity5"', '"-","closePrice"', '"313.10","open"', '"312.00","isinCode"', '"INE155A01022","lastPrice"', '"312.40"}],"optLink"', '"\\/marketinfo\\/sym_map\\/symbolMapping.jsp?symbol=TATAMOTORS&instrument=-&date=-&segmentLink=17&symbolCount=2","otherSeries"', '["EQ","BL"],"futLink"', '"\\/live_market\\/dynaContent\\/live_watch\\/get_quote\\/GetQuoteFO.jsp?underlying=TATAMOTORS&instrument=FUTSTK&expiry=27MAY2021&type=-&strike=-","lastUpdateTime"', '"21-MAY-2021 16', '00', '00"}']
Index -> 72
latest Price =  312.40
Index -> 29
totalBuyQuantity =  -
Index -> 7
totalSellQuantity =  48,690

In [ ]:
# Write a For loop to repeat above codes for 50 stock